include MANIFEST.in README.rst CHANGELOG.rst LICENSE Makefile version.txt
include requirements.txt requirements.in
include dev-requirements.txt dev-requirements.in
include requirements.yml
include tox.ini Dockerfile
recursive-include dev *
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *
recursive-exclude tests *.pyc
